global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node_exporter:9101']
  
  - job_name: 'postgres-exporter'
    static_configs:
      - targets: ['postgres_exporter:9187']
  
  - job_name: 'nginx-exporter'
    static_configs:
      - targets: ['nginx_exporter:9113']
